<!-- templates/ballast_control.html -->
{% extends 'base.html' %}

{% block title %}Ballast Controller{% endblock %}

{% block content %}
<div class="nested-ballast-grid" id="ballast-grid">
    <div class="grid-cell" id="port-fill-container">
        <button class="control-button" onclick="alert('Fill Port')">
            <table padding="0" justify="center">
                <tr>
                    <td><img src="{{ url_for('static', filename='images/filling.png') }}" alt="Filling Icon" height="150pt"></td>
                    <td>Port Fill</td>
                </tr>
            </table>
        </button>
    </div>
    <div class="grid-cell" id="center-fill-container">
        <button class="control-button" style="background-color: lightgreen;" onclick="alert('Fill Center')">
            <table padding="0" justify="center">
                <tr>
                    <td><img src="{{ url_for('static', filename='images/filling.png') }}" alt="Filling Icon" height="150pt"></td>
                    <td>Center Fill</td>
                </tr>
            </table>
        </button>
    </div>
    <div class="grid-cell" id="starboard-fill-container">
        <button class="control-button" onclick="alert('Fill Starboard')">
            <table padding="0" justify="center">
                <tr>
                    <td><img src="{{ url_for('static', filename='images/filling.png') }}" alt="Filling Icon" height="150pt"></td>
                    <td>Starboard Fill</td>
                </tr>
            </table>
        </button>
    </div>
    <div class="grid-cell">
        <button class="tank-container" onclick="alert('Stop Port')">
            <div id="portTankLevel" class="tank-level"></div>
            <div id="portTankGraphic" class="tank-graphic"><img src="{{ url_for('static', filename='images/PortTankonBoat3.png') }}" alt="portTank" height="100%"></div>
            <div class="tank-label">Port</div>
            <div id="portTankPercentage" class="tank-percentage"></div>
            <div id="portTankMessage" class="tank-message">message</div>
        </button>
    </div>
    <div class="grid-cell">
        <button class="tank-container" onclick="alert('Stop Center')">
            <div id="centerTankLevel" class="tank-level"></div>
            <div id="centerTankGraphic" class="tank-graphic"><img src="{{ url_for('static', filename='images/CenterTankOnBoat3.png') }}" alt="portTank" height="100%"></div>
            <div class="tank-label">Center</div>
            <div id="centerTankPercentage" class="tank-percentage"></div>
            <div id="centerTankMessage" class="tank-message">message</div>
        </button>
    </div>
    <div class="grid-cell">
        <button class="tank-container" onclick="alert('Stop Starboard')">
            <div id="starboardTankLevel" class="tank-level"></div>
            <div id="starboardTankGraphic" class="tank-graphic"><img src="{{ url_for('static', filename='images/StarboardTankOnBoat3.png') }}" alt="portTank" height="100%"></div>
            <div class="tank-label">Starboard</div>
            <div id="starboardTankPercentage" class="tank-percentage"></div>
            <div id="starboardTankMessage" class="tank-message">message</div>
        </button>
    </div>
    <div class="grid-cell" id="port-drain-container">
        <button class="control-button" style="background-color: salmon;" onclick="alert('Port Drain')">
            <table>
                <tr>
                    <td><img src="{{ url_for('static', filename='images/emptying.png') }}" alt="Emptying Icon" height="150pt"></td>
                    <td>Port Drain</td>
                </tr>
            </table>
        </button>
    </div>
    <div class="grid-cell" id="center-drain-container">
        <button class="control-button" style="background-color: salmon;" onclick="alert('Center Drain')">
            <table>
                <tr>
                    <td><img src="{{ url_for('static', filename='images/emptying.png') }}" alt="Emptying Icon" height="150pt"></td>
                    <td>Center Drain</td>
                </tr>
            </table>
        </button>
    </div>
    <div class="grid-cell" id="starboard-drain-container">
        <button class="control-button" style="background-color: salmon;" onclick="alert('Starboard Drain')">
            <table>
                <tr>
                    <td><img src="{{ url_for('static', filename='images/emptying.png') }}" alt="Emptying Icon" height="150pt"></td>
                    <td>Starboard Drain</td>
                </tr>
            </table>
        </button>
    </div>
    <div class="grid-cell">Port Timer</div>
    <div class="grid-cell">Center Timer</div>
    <div class="grid-cell">Starboard Timer</div>
    <div class="grid-cell">
        <div class = water-sensor-container  id="port-water-sensor-container">
            Port Water Inlet<br><span id="port-water-sensor">Unknown</span>
        </div>
    </div>
    <div class="grid-cell">
        <div class = water-sensor-container id="center-water-sensor-container">
            Center Water Inlet<br><span id="center-water-sensor">Unknown</span>
        </div>
    </div>
    <div class="grid-cell">
        <div class = water-sensor-container  id="starboard-water-sensor-container">
            Starboard Water Inlet<br><span id="starboard-water-sensor">Unknown</span>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/mqtt.min.js') }}"></script>
<script type="text/javascript">
   
    function updateTankLevel(level, tank) {
        let tankLevelElement;
        let tankPercentageElement;
        if (tank === 'port') {
            tankLevelElement = document.getElementById('portTankLevel');
            tankPercentageElement = document.getElementById('portTankPercentage');
        } else if (tank === 'center') {
            tankLevelElement = document.getElementById('centerTankLevel');
            tankPercentageElement = document.getElementById('centerTankPercentage');
        } else if (tank === 'starboard') {
            tankLevelElement = document.getElementById('starboardTankLevel');
            tankPercentageElement = document.getElementById('starboardTankPercentage');
        } else {
            return;
        }

        if (level < 0) level = 0;
        if (level > 100) level = 100;

        tankLevelElement.style.height = `${level}%`;
        tankPercentageElement.textContent = `${level}%`;
    }

    function updateTankMessage(message, tank) {
        let tankMessageElement;
        if (tank === 'port') {
            tankMessageElement = document.getElementById('portTankMessage');
        } else if (tank === 'center') {
            tankMessageElement = document.getElementById('centerTankMessage');
        } else if (tank === 'starboard') {
            tankMessageElement = document.getElementById('starboardTankMessage');
        } else {
            return;
        }
        tankMessageElement.innerHTML = `${message}`;
    }

    function updateWaterSensors(waterSensorData) {
        const sensors = {
            port: document.getElementById('port-water-sensor-container'),
            center: document.getElementById('center-water-sensor-container'),
            starboard: document.getElementById('starboard-water-sensor-container')
        };
        
        Object.keys(sensors).forEach(key => {
            const sensor = sensors[key];
            const sensorData = waterSensorData[key];
            
            if (sensorData === null) {
                sensor.style.backgroundColor = 'grey';
                sensor.querySelector('span').textContent = 'Unknown';
            } else {
                const isFull = sensorData === true;
                sensor.style.backgroundColor = isFull ? 'aqua' : 'orange';
                sensor.querySelector('span').textContent = isFull ? 'Full' : 'Empty';
            }
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        // Connect to the local MQTT broker
        const serverIp = '{{ server_ip }}';
        const brokerUrl = `ws://${serverIp}:8080`;
        // Connect to the MQTT broker on the server
        const client = mqtt.connect(brokerUrl);

        // Set the topic you want to subscribe to
        const topics = ['data/water_sensors'];

        // Called when the client connects
        client.on('connect', () => {
            console.log('Connected to MQTT broker');
            client.subscribe(topics, (err) => {
                if (!err) {
                    console.log('Subscribed to topics:', topics);
                
                }
            });
        });

        client.on('message', (topic, message) => {
            const top = topic.toString();
            // message is a Buffer, convert it to string
            const data = message.toString();
            console.log(`Received topic ${top} with message: ${data}`);
           
            if (top === 'data/water_sensors') {
                const waterSensorData = JSON.parse(data);
                updateWaterSensors(waterSensorData);
            }
        });

        // Called when the client disconnects
        client.on('close', () => {
            console.log('Disconnected from MQTT broker');
        });

        updateTankLevel(12, 'port');
        updateTankLevel(62, 'center');
        updateTankLevel(99, 'starboard');

        updateTankMessage('Off', 'port');
        updateTankMessage('Filling...<br><span style="font-size: 36pt;">(Press to Stop)</span>', 'center');
        updateTankMessage('Draining...<br><span style="font-size: 36pt;">(Press to Stop)</span>', 'starboard');
    });
</script>
{% endblock %}
