<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
<script>
    async function fetchIP() {
        try {
            const response = await fetch('/api/ip');
            const data = await response.json();
            document.getElementById('ip_button').innerText = data.ip;
        } catch (error) {
            document.getElementById('ip_button').innerText = 'IP not available';
        }
    }
        
    document.addEventListener('DOMContentLoaded', function(){
        function updateTime() {
            const now = new Date();
            const timeString = now.toLocaleTimeString();
            const options = { year: 'numeric', month: 'long', day: 'numeric' };
            const dateString = now.toLocaleDateString('en-GB', options);
            document.getElementById('time').innerText = `${dateString} ${timeString}`;
        }

        const serverIp = "{{ server_ip }}";
        const sock = io(`${serverIp}:5000`);
        sock.on('connect', function() {
            console.log('Connected to WebSocket for CAN status updates.');
        });
        sock.on('disconnect', function() {
            console.log('Disconnected from WebSocket for CAN status updates.');
        });
        sock.on('can_stats', function(msg) {
            // console.log('can_stats:', msg);
            updateCANStatus(msg)
        });
        
        function updateCANStatus(msg){
            const data = msg.can1
            document.getElementById('CANbitrate').innerText = data.CANbitrate;
            document.getElementById('CANstate').innerText = data.CANstate;
            document.getElementById('CANRXbytes').innerText = data.CANRXbytes

            const bitrateSelect = document.getElementById("bitrate-select");
            if (bitrateSelect){
                const startCanOption = document.getElementById("start-can-option");
                const stopCanOption = document.getElementById("stop-can-option");
                const stopCanButton = document.getElementById("can-stop-button");
                if (data.CANstate==="ACTIVE"){
                    
                    stopCanButton.style.display = 'block';
                    bitrateSelect.style.display = 'none';
                    stopCanOption.selected = true;
                    
                }
                else {
                    bitrateSelect.style.display = 'block';
                    stopCanButton.style.display = 'none';
                    startCanOption.selected = true; // Select "Start CAN" option
                }
            }
        }
            

        updateTime();
        setInterval(updateTime, 1000);
            
        fetchIP();
        // setInterval(fetchIP, 3001);

        // updateCANStatus(" Finished Loading")
        // setInterval(updateCANStatus, 2023);
    });
</script>
<style>
    #footer-button-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    }
    .footer-button {
        background-color: inherit;
        color: inherit;
        border: 0px;
        font-size: 50px;
        cursor: pointer;
        width: 100%;
    }
    .footer-button:hover {
        background-color: darkgray;
        color: lightgreen;
    }
</style>
<footer>
    <div>
        <span id="time"></span>
    </div>
    <div>
        <span id="CANinterface">CAN1</span>&nbsp;<span id="CANstate">state</span>&nbsp;(<span id="CANbitrate">bitrate</span>)&nbsp;RX:<span id="CANRXbytes">bitrate</span>
    </div>
    <div>
        <button class="footer-button" id="ip_button" onclick="fetchIP()"></button>
    </div>
</footer>
