<style>
    #header-button-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    }
    .header-button {
        background-color: inherit;
        color: inherit;
        border: 0px;
        font-size: 50px;
        cursor: pointer;
        margin: 1px; /* Remove margin from the refresh button */
        width: 100%;
    }
    .header-button:hover {
        background-color: darkgray;
        color: lightgreen;
    }
</style>

<header> <!--Additional style is defined in styles.css-->
    <div>
        <button class="header-button" onclick="location.href='{{ url_for("j1939_display") }}';">J1939 Interface</button>
    </div>
    <div>
        <button class="header-button" onclick="location.href='{{ url_for("ballast_control") }}';">Ballast Controller</button>
    </div>
    <div>
        <button class="header-button" onclick="location.href='{{ url_for("remote_rudder") }}';">Remote Rudder</button>
    </div>
    <div>
        <button class="header-button" onclick="location.href='{{ url_for("address_claim") }}';">Address Claim</button>
    </div>
    <div>
        <button class="header-button" onclick="location.href='{{ url_for("utility") }}';">Utility</button>
    </div>
</header>
<script>
    function systemShutdown() {
        if (confirm("Are you sure you want to shut down the system?")) {
            fetch('/api/shutdown', {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('System is shutting down');
                } else {
                    alert('Error: ' + data.output);
                }
            })
            .catch(error => {
                alert('Request failed: ' + error);
            });
        }
    }
</script>