<!-- templates/j1939_display.html -->
{% extends 'base.html' %}

{% block title %}J1939 Display{% endblock %}

{% block content %}

<style>
    #table-container {
        /* height: 500px; Adjust the height as needed */
        overflow-y: auto;
        border: 1px solid #ccc;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: black;
    }

    .low-value { background-color:  darkgreen; }
    .medium-value { background-color: darkgoldenrod; }
    .high-value { background-color: darkred }

    .download-button{
        font-size: inherit;
        background-color: lightgrey;
        color: black;
        width: 100%;
    }
    .start-can-logging-button{
        font-size: inherit;
        background-color: lightgreen;
        color: black;
        width: 100%;
    }
    .stop-can-logging-button{
        font-size: inherit;
        background-color: salmon;
        color: black;
        width: 100%;
    }
    .can-stop-button{
        font-size: inherit;
        background-color: salmon;
        color: black;
        width: 100%;
    }
    .sa-button{
        font-size: inherit;
        background-color: steelblue;
        color: white;
        width: 100%;
    }
    .sa-button.active {
            background-color: #4CAF50; /* Green background for the active button */
            color: white; /* White text for the active button */
        }
    .sa-container{
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr;
        justify-content: left;
    }
    .pgn-button{
        font-size: 40pt;
        background-color: rgb(72, 5, 76);
        color: white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0pt;
    
    }
    .pgn-button input[type="checkbox"] {
        transform: scale(4); /* Scale the checkbox to make it bigger */
        margin-left: 20px;
        margin-right: 20px;
    }
    .pgn-button label {
        flex-grow: 1;
        text-align: left;
    }
    .pgn-button.active {
            background-color: #f004d5; /* Green background for the active button */
            color: white; /* White text for the active button */
        }
    .pgn-title-container{
    }
    .pgn-header-container{
        text-decoration: underline;
    }
    .pgn-container{
        /* display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr; */
        justify-content: left; 
        padding: 0;
        overflow-y: auto;
    }
    .database-table-option {
        font-size: 36pt;
        background-color: rgb(153, 213, 211);
        text-align: left;
        width: 100%;
    }
    .database-table-button {
        font-size: 36pt;
        background-color: rgb(213, 203, 153);
        text-align: center;
        width: 100%;
    }
    .can-control-button{
        font-size: 36pt;
        background-color: salmon;
        text-align: center;
        width: 100%;
    }

</style>

<div class="sa-container">
    <div class="sa-button-container">
        <form  id="bitrate-form" method="POST">
            <select id="bitrate-select"  name="bitrate" onselect="setBitrate(event)" onchange="setBitrate(event)" >
                <option value="" id="start-can-option" selected>Start CAN</option>
                <option value="125000">Start (125k)</option>
                <option value="250000" >Start (250k)</option>
                <option value="500000">Start (500k)</option>
                <option value="666666">Start (666k)</option>
                <option value="1000000">Start (1M)</option>
                <option value="0" id="stop-can-option" hidden>Stop CAN</option>
            </select>
            <button class="can-stop-button" type="button" id='can-stop-button' onclick=stopCAN()>Stop CAN</button>
            <button class="start-can-logging-button" type="button" id='start-can-logging-button' onclick="startLogging()">Start Logging CAN</button>
            <button class="stop-can-logging-button" type="button" id='stop-can-logging-button' onclick="stopLogging()" hidden>Stop Logging CAN</button>
            
        </form>
    </div>
    <div class="sa-title-container">
        <!-- <form id="data-table-form" method="GET">
            <label for="data-table-select">Sources:</label>   
            <select class="database-table-option" id="data-table-select"  name="data-table" onchange="selectTable(event)">
                <option value="" selected disabled>Getting Data Tables...</option>
                
            </select>
            <button class="database-table-button" type="button" onclick="downloadTable()">Download</button>
            <button class="database-table-button" type="button" onclick="renameTable()">Rename</button>
            <button class="database-table-button" type="button" onclick="deleteTable()">Delete</button>
            
            
        </form> -->
        SA: Name (count)
    </div>
    <div class="sa-button-container" id="sa-buttons-container">
        <!-- Buttons will be dynamically inserted here -->
    </div>
    <div class="downloads-container" id="downloads-container">
        
        <form action="/api/download" method="post">
            <input type="hidden" name="table_name" value="can_data">
            <button class="download-button" id='download-button' type="submit">Download CSV</button>
        </form>
        <form action="/api/download_db" method="post">
            <button class="download-button" id='download-db-button' type="submit">Download Database</button>
        </form>
        <button type="button" class="can-stop-button" onclick="confirmDelete('can_data')">Delete Table Contents</button>
        <!-- download links will be dynamically inserted here -->
    </div>
</div>
<div>
    <div class="pgn-title-container" id="pgn-title-container">
        Source Address Title
        <!-- Data will be dynamically displayed here -->
    </div>
    <div class="pgn-header-container">
        PGN   (CAN ID) period [count]
    </div>
    <div class="pgn-container" id="pgn-container">
        Buttons of PGNs with Labels
        <!-- Data will be dynamically displayed here -->
    </div>
</div>
<div class="can-data-container" id="can-data-container">
    <!-- Data will be dynamically displayed here -->
    <div id="table-container">
      <table id="data-table" border="1">
        <thead>
            <tr>
                <th></th>
                <th>Val</th>
                <th>STD</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>B0</th>
                <td id="b0_val"></td>
                <td id="b0_std"></td>
            </tr>
            <tr>
                <th>B1</th>
                <td id="b1_val"></td>
                <td id="b1_std"></td>
            </tr>
            <tr>
                <th>B2</th>
                <td id="b2_val"></td>
                <td id="b2_std"></td>
            </tr>
            <tr>
                <th>B3</th>
                <td id="b3_val"></td>
                <td id="b3_std"></td>
            </tr>
            <tr>
                <th>B4</th>
                <td id="b4_val"></td>
                <td id="b4_std"></td>
            </tr>
            <tr>
                <th>B5</th>
                <td id="b5_val"></td>
                <td id="b5_std"></td>
            </tr>
            <tr>
                <th>B6</th>
                <td id="b6_val"></td>
                <td id="b6_std"></td>
            </tr>
            <tr>
                <th>B7</th>
                <td id="b7_val"></td>
                <td id="b7_std"></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
<!-- <div class="grid-cell" id="j1939-graphs"> -->
    <!-- Data will be dynamically displayed here -->
<!-- </div> -->

<script type="text/javascript">

let lastClickedSAButton = null;
let lastActiveSAButton = null;
let isCanRunning = true;

document.addEventListener("DOMContentLoaded", () => {

    const serverIp = "{{ server_ip }}";
    const socket = io(`${serverIp}:5000`);
    socket.on('connect', function() {
        console.log('Connected to WebSocket');
    });
    socket.on('disconnect', function() {
        console.log('Disconnected from WebSocket');
    });
 
    socket.on('message', function(CANData) {
        // console.log('message:', CANData);
        const buttonsContainer = document.getElementById('sa-buttons-container');
        // buttonsContainer.innerHTML = ''; // Clear previous buttons
        const stopLoggingButton = document.getElementById("stop-can-logging-button");
        const startLoggingButton = document.getElementById("start-can-logging-button");
            
        if (CANData.logging){    
            stopLoggingButton.style.display = 'block';
            startLoggingButton.style.display = 'none';
        }
        else {
            stopLoggingButton.style.display = 'none';
            startLoggingButton.style.display = 'block';
        }

        for (const sa in CANData.can0.source) {
            if (CANData.can0.source.hasOwnProperty(sa)) {
                const item = CANData.can0.source[sa];
                let button = document.querySelector(`button[data-key="${sa}"]`);
                if (button) {
                    // Update existing button text
                    button.textContent = sa + ": " + item.name + " [" + item.count + "]";
                } 
                else {
                    const button = document.createElement('button');
                    button.textContent = sa + ": " + item.name + " [" + item.count + "]";
                    button.setAttribute('data-key', sa);
                    button.setAttribute('class','sa-button')
                    button.addEventListener('click', function() {
                        // Latch the last clicked button
                        if (lastClickedSAButton) {
                            lastClickedSAButton.classList.remove('active');
                        }
                        button.classList.add('active');
                        lastActiveSAButton = button;
                        lastClickedSAButton = button;
                        clear_table_values();
                        clearPGN(item);
                        displayPGN(item);
                    });
                    // Append the button to the buttons container
                    buttonsContainer.appendChild(button);
                    // Add a <br> tag after each button
                    buttonsContainer.appendChild(document.createElement('br'));
                    
                    // Add if there are no active buttons, then add this one.
                    if (lastActiveSAButton === null){
                        lastActiveSAButton = button
                    }
                }

                // If this is the last clicked button, ensure it remains active and display its data
                if (lastClickedSAButton && lastClickedSAButton.getAttribute('data-key') === sa) {
                    button.classList.add('active');
                    lastActiveSAButton = button;
                    displayPGN(item);
                }
            }
        }
    });

    //initialize the menu.
    fetchTables()

    // Set the initial container height
    setContainerHeight();

    // Adjust the height on window resize
    window.addEventListener('resize', setContainerHeight);
        

});



async function setBitrate(event) {
    event.preventDefault(); // Prevent the form from submitting normally
    const bitrate = document.getElementById("bitrate-select").value;
    if (bitrate){
        console.log("Starting CAN at " + bitrate);
        await fetch('/api/start_can', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                'bitrate': bitrate
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
            if (data.message.status === "success") {
                isCanRunning = true;    
            } else {
                const errorMessage = typeof data.message === 'string' ? data.message : JSON.stringify(data.message);
                alert("Error: " + errorMessage);
            }
        })
        .catch(error => alert("An error occurred: " + error));
    }
}

async function stopCAN() {
    console.log("Stopping CAN.");
    try {
        const response = await fetch('/api/stop_can', {
            method: 'GET',
        });
        if (response.ok) {
            console.log("Stopped CAN")
        }
        else {
            console.error('Failed to stop CAN:', response.statusText);
        }
    } catch (error) {
        console.error('Error occurred while stopping CAN:', error);
    }
}

async function startLogging() {
    try {
        const response = await fetch('start_logging', {
            method: 'GET',
        });
        if (response.ok) {
            console.log((await response.json()).status)
        }
        else {
            console.error('Failed to Start Logging CAN:', response.statusText);
        }
    } catch (error) {
        console.error('Error occurred while starting logging:', error);
    }
}

async function stopLogging() {
    try {
        const response = await fetch('stop_logging', {
            method: 'GET',
        });
        if (response.ok) {
            console.log((await response.json()).status)
            
        }
        else {
            console.error('Failed to Start Logging CAN:', response.statusText);
        }
    } catch (error) {
        console.error('Error occurred while stopping logging:', error);
    }
}

async function fetchTables() {
    const response = await fetch('/api/tables', {
            method: 'GET',
        });
        if (response.ok) {
            console.log((await response.json()))
        }
        else {
            console.error('Failed to Fetch Database Tables:', response.statusText);
        }
    const downloadsContainer = document.getElementById('downloads-container');
    // downloadsContainer.innerHTML = ''; // Clear existing links

    // // Use Object.entries() to get key-value pairs and iterate over them
    // for (const [key, value] of Object.entries(tables)) {
    //     const link = document.createElement('a');
    //     link.href = `/api/download?table_name=${key}`; // Assuming your download endpoint uses this query parameter
    //     link.textContent = `${key} (${value})`;
    //     // link.download = key; // This attribute suggests the browser to download the resource
    //     downloadsContainer.appendChild(link);
    //     const linebreak = document.createElement('br');
    //     downloadsContainer.appendChild(linebreak);   
    // }
}

// async function downloadCSV(){
//     console.log("Downloading CSV.");
//     const tableName = 'can_data'; // specify the table name
//     const queryParams = new URLSearchParams({ table_name: tableName }).toString();
//     const url = `/api/download?${queryParams}`;
    
//     try {
//         const response = await fetch(url, {
//             method: 'GET',
//         });

//         if (response.ok) {
//             const blob = await response.blob();
//             const blobUrl = window.URL.createObjectURL(blob);
//             window.open(blobUrl); // Open the CSV file in a new tab/window
//         } else {
//             console.error('Failed to Fetch Database Tables:', response.statusText);
//         }
//         } catch (error) {
//             console.error('Error occurred while downloading CSV:', error);
//         }
//     }

// document.getElementById('download-csv-button').addEventListener('click', downloadCSV);
// // }

function selectTable(event) {

}

function renameTable(){
    
}

function confirmDelete(tableName) {
    const confirmed = confirm(`Do you want to delete ${tableName}?`);

    if (confirmed && tableName) {
        console.log(`Requesting to delete ${tableName}`)
        fetch('/api/delete_table', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ table_name: tableName }),
                })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('Table contents deleted successfully.');
            } else {
                console.log('Failed to delete table contents: ' + data.error);
            }
        })
        .catch(error => console.log("An error occurred: " + error));
    } 
}

function displayMessages(messages) {
    const container = document.getElementById('can-data-container');
    container.innerHTML = ''; // Clear previous data

    messages.forEach(message => {
        const div = document.createElement('div');
        div.textContent = JSON.stringify(message);
        container.appendChild(div);
    });
}

let lastClickedPGNButton = null; 

function clearPGN(item){
    const dataContainer = document.getElementById('pgn-container');
    dataContainer.innerHTML = ''; // Clear previous data

    const nameDiv = document.getElementById("pgn-title-container");
    nameDiv.textContent = "Source Address " + item.address + ": " + item.name;
    // const pgnDiv = document.createElement('div');
    // pgnDiv.className = 'pgns';
    // const header_txt = document.createElement('span');
    // header_txt.textContent = ""
    // pgnDiv.appendChild(header_txt)
}


function displayPGN(item) {
    // console.log("Display PGN")
    // console.log(item);
    
    
    pgnDiv = document.getElementById("pgn-container")
    for (const pgn in item.pgns) {
        if (item.pgns.hasOwnProperty(pgn)) {
            const values = item.pgns[pgn];
            let button_label = document.querySelector(`label[data-key="${pgn}_label"]`);
            let button = document.querySelector(`button[data-key="${pgn}"]`);
            if (button_label) {
                // Update existing button text
                button_label.textContent = `${pgn} (${values.id}) ${values.time_delta} [${values.count}]`;
            } 
            else {
                
                
                const button = document.createElement('button');
                button.setAttribute('class','pgn-button')
                button.setAttribute('data-key', pgn);

                const label = document.createElement('label');
                label.setAttribute('for', `checkbox_${pgn}`);
                label.setAttribute('data-key', `${pgn}_label`);
                label.textContent = `${pgn} (${values.id}) ${values.time_delta} [${values.count}]`;

                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.id = `checkbox_${pgn}`;
                
                button.appendChild(label);
                button.appendChild(checkbox);
                
                button.addEventListener('click', function() {
                    // Latch the last clicked button
                    if (lastClickedPGNButton) {
                        lastClickedPGNButton.classList.remove('active');
                    }
                    // const tableBody = document.querySelector("#data-table tbody");
                    clear_table_values();
                    button.classList.add('active');
                    lastClickedPGNButton = button;
                    displayData(values);
                });
                // Append the button to the buttons container
                pgnDiv.appendChild(button);
                // pgnDiv.appendChild(document.createElement('br'));
                // If this is the last clicked button, ensure it remains active and display its data
                
            }
            
            if (lastClickedPGNButton && lastClickedPGNButton.getAttribute('data-key') === pgn) {
                    button.classList.add('active');
                    displayData(values);
            }
        
        }
    
    }
}

function convertHexToDecimal(hexString) {
        return hexString.split(' ').map(hex => parseInt(hex, 16));
}

function formatHex(value) {
    return value.toString(16).toUpperCase().padStart(2, '0');
}


function interpolateColor(value, min, max) {
        const mid = (min + max) / 2;
        let startColor, endColor, ratio;

        if (value <= mid) {
            startColor = { r: 139, g: 0, b: 0 };  // Dark Red
            endColor = { r: 0, g: 100, b: 0 };    // Dark Green
            ratio = (value - min) / (mid - min);
        } else {
            startColor = { r: 0, g: 100, b: 0 };  // Dark Green
            endColor = { r: 0, g: 0, b: 139 };    // Dark Blue
            ratio = (value - mid) / (max - mid);
        }

        const r = Math.round(startColor.r + ratio * (endColor.r - startColor.r));
        const g = Math.round(startColor.g + ratio * (endColor.g - startColor.g));
        const b = Math.round(startColor.b + ratio * (endColor.b - startColor.b));

        return `rgb(${r}, ${g}, ${b})`;
    }


function setContainerHeight() {
        const tableContainer = document.getElementById('table-container');
        const containerHeight = tableContainer.parentElement.clientHeight;
        //tableContainer.style.height = `${containerHeight}px`;
        
        const pgnContainer = document.getElementById('pgn-container');
        const pgnContainerHeight = pgnContainer.parentElement.clientHeight;
        //pgnContainer.style.height = `${pgnContainerHeight}px`;
    }

function appendDataToTable(data) {
     
    //const tableBody = document.querySelector("#data-table tbody");

    const hexData = convertHexToDecimal(data.data);

    const dataLength = hexData.length;

    for (let i = 0; i < dataLength; i++) {
        const valCell = document.getElementById(`b${i}_val`);
        const stdCell = document.getElementById(`b${i}_std`);

        if (valCell) {
            valCell.textContent = formatHex(hexData[i]);
            valCell.style.backgroundColor = interpolateColor(hexData[i],0,255);
        }

        if (stdCell) {
            const std = calculateStandardDeviation(data.sums[i], data.sumsquared[i], data.count);
            stdCell.textContent = std.toFixed(2);
            stdCell.style.backgroundColor = interpolateColor(std,0,100);
        }
    }
}

function displayData(values){
    //console.log(values)
    //const canContainer = document.getElementById('can-data-container');
    appendDataToTable(values);
}

function clear_table_values() {
    for (let i = 0; i <= 7; i++) {
        const dataCell = document.getElementById(`b${i}_val`);
        if (dataCell) {
            dataCell.innerHTML = "";
            dataCell.style.backgroundColor = 'black'
        }

        const stdCell = document.getElementById(`b${i}_std`);
        if (stdCell) {
            stdCell.innerHTML = "";
            stdCell.style.backgroundColor = 'black'
        }
    }
}

function calculateStandardDeviation(sum, sumsquared, count) {
        if (count <= 1) return 0;
        const mean = sum / count;
        const variance = (sumsquared / count) - (mean * mean);
        return Math.sqrt(variance * count / (count - 1));
}

</script>

{% endblock %}