<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Daily's Mastercraft Controller{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- <div class="grid-container"> -->
        <div class="header">
            {% include 'header.html' %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        </div>
        <div class="footer">
            {% include 'footer.html' %}
        </div>
    <!-- </div> -->
</body>
</html>
