<header>
    <div class="header-section left-header">
        <button class="refresh-button" onclick="location.href='{{ url_for("j1939_display") }}';">J1939 Interface</button>
    </div>
    <div class="header-section center-header">
        <button class="refresh-button" onclick="location.href='{{ url_for("ballast_control") }}';">Ballast Controller</button>
    </div>
    <div class="header-section right-header">
        <button class="refresh-button" onclick="location.href='{{ url_for("remote_rudder") }}';">Remote Rudder</button>
    </div>
</header>